# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/secret.h
/Chickenguard.ino0
/Chickenguard.ino.old
/build/*
/.vscode/c_cpp_properties.json
/.vscode/arduino.json
/.theia/*
/uploadOTA.txt